:root {
  --secondary: #FF5031; /* laranja */
  --tertiary: #DEE9EA; /* cinza claro */
  --quaternary: #F8F8F8; /* quase branco */
  --quinary: #47A138; /* verde */
  --bg-gradient: linear-gradient(to bottom, #004D61, #FFFFFF); /* Gradiente do azul mais escuro para branco */
  --bg-green: #E4EDE3; /* verde claro */
  --bg-blue: #004D61; /* azul mais escuro */
  --bg-white: #F5F5F5; /* verde claro */
  --bg-gray: #CBCBCB; /* cinza */
  --white: #FFFFFF;
  --text-dark: #444444; /* Cor comum para texto escuro */
  --text-light: #666666; /* Cor comum para texto mais claro */
  --gray: #8B8B8B;
}